{% extends "layout.html" %}
{% block body %}
    <h3>{{ neo.name }} ({{ neo.id }})</h3>
    <a href="{{ neo.url }}">{{ neo.url }}</a>
    <p>Estimated Diameter: {{ neo.diameter_min }} - {{ neo.diameter_max }} ft.
    <p>Potentially Hazardous: {{ neo.hazardous }}</p>
    <h3>Approaches</h3>
    <table id="neo-approaches" class="display">
        <thead>
            <tr>
                <th>Date</th>
                <th>Velocity (mph)</th>
                <th>Distance (miles)</th>
                <th>Orbiting Body</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Velocity (mph)</th>
                <th>Distance (miles)</th>
                <th>Orbiting Body</th>
            </tr>
        </tfoot>
        <tbody>
        {% for approach in neo.approaches %}
            <tr>
                <td>{{ approach.date }}</td>
                <td>{{ approach.velocity }}</td>
                <td>{{ approach.distance }}</td>
                <td>{{ approach.orbiting_body }}</td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
           $('#neo-approaches').DataTable();
        });
    </script>
{% endblock %}