<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Near Earth Objects</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='comet.png') }}" alt="comet logo">
        <h1>Near Earth Objects</h1>
    </header>
    {% block body %}{% endblock %}
</body>
</html>